<div class="about">
    <div class="head">
        <h1> About the Team! </h1>
    </div>
    <div class="blur"></div>
    <div class="body">
        <div class="product">
            <p>
                Have you ever wished that you could make some other use of the time you spend working out?
                Doing laundry? What about reading a book? What if there was a way to change all those skills
                you work on in real life and translate them into a character based on you. Something you
                can adventure with, improve skills, find gear, topple kingdoms with?
                <br>
                What if your desire to be better could be more?
                <br>
                Welcome to Better RPG, our goal is to add a bit of flavor to the every day tasks that you do
                just to better yourself. There is so much to your daily tasks, so why not log that workout and
                gain some experience for it? When you got time later, go out into the world and explore!
                <br>
                That's all, no gimmicks. Just Improve yourself, log your efforts and get a reward. Watch yourself
                improve and grow with us as your daily life becomes the game!
            </p>
        </div>
        <div class="team">
            <div id="Mitchell 'The Captain' Hamann">
                <p>
                    Mitchell is an aspiring web developer, his first real jaunt into web development
                    came from AngularJS, and quickly evolved into Angular2. He didn't have the most
                    experience when coming into this project, but wanted to give it a try anyways. He
                    has an affinity for SQL and absorbing as much possible knowledge about the world
                    as he possibly can.
                    <br>
                    Enter Angular Attack, where they all decided to study for a single month, pick an
                    idea and give it their best shot.
                </p>
            </div>
            <div id="Daniel Crowson">
                <p>
                    The mastermind behind the project. Soon after signing up, Dan loaded the Trello board
                    with a grandiose idea to improve the lives of others by combining both gaming and real
                    world life applications. Soon Better RPG was born, and with it came an influx of ideas
                    and aspirations for this new project.
                    <br>
                    He also has an (arguably) greater affinity for SQL than Mitch, and has some prior game
                    development knowledge, although not via web development or in this particular Genre.
                </p>
            </div>
            <div id="Kjeil Olson">
                <p>
                    Kjeil started a bit later than the rest of the team, but holds his own just fine.
                    His only developement experience coming from his schooling. The host of the project
                    and a sounding board for the team. (He also offered his home, including food, for the competition, thanks
                    again Kjeil.)
                    <br>
                    Kjeil wants to own and operate his own business one day, and see growing his skills as
                    the prime opportunity to help him reach that goal.
                </p>
            </div>
        </div>
    </div>
</div>